<div style="background-color:gray; color:white; padding:10px;">
    <h1><a name="Enhance Default Feature: imbalance_buy_sell_flag"></a>Enhance Default Feature: imbalance_buy_sell_flag</h1>
</div>

Below, the input data is taken from the official dataset and represented by df.

Although df includes 5,237,980 rows, the following incident occurs in only 220 rows; nevertheless, it is still something that we can address. As shown below, <u> imbalance_size is NaN, although imbalance_buy_sell_flag is 0. </u> This does not make sense because the flag is supposed to indicate the direction of the imbalance, whether it is on the buy or sell side. Therefore, if the flag is 0, imbalance_size should also be 0.

For the affected rows, we have two options: we can either replace all imbalance_size and imbalance_buy_sell_flag values with 0, or we can simply remove these indices from our dataset.

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)


# ðŸ“‚ Read the dataset from a CSV file using Pandas
df = pd.read_csv("/kaggle/input/optiver-trading-at-the-close/train.csv")

df[df['imbalance_size'].isna()]

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,target,time_id,row_id
369508,131,35,0,NaN,0,NaN,NaN,NaN,NaN,NaN,0.00,NaN,0.00,NaN,NaN,1925,35_0_131
369700,131,35,10,NaN,0,NaN,NaN,NaN,NaN,NaN,0.00,NaN,0.00,NaN,NaN,1926,35_10_131
369892,131,35,20,NaN,0,NaN,NaN,NaN,NaN,NaN,0.00,NaN,0.00,NaN,NaN,1927,35_20_131
370084,131,35,30,NaN,0,NaN,NaN,NaN,NaN,NaN,0.00,NaN,0.00,NaN,NaN,1928,35_30_131
370276,131,35,40,NaN,0,NaN,NaN,NaN,NaN,NaN,0.00,NaN,0.00,NaN,NaN,1929,35_40_131
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4774999,19,438,500,NaN,-1,NaN,NaN,NaN,NaN,NaN,115491.18,NaN,1990.10,NaN,3.319979,24140,438_500_19
4775199,19,438,510,NaN,-1,NaN,NaN,NaN,NaN,NaN,189040.50,NaN,26283.84,NaN,-5.049705,24141,438_510_19
4775399,19,438,520,NaN,-1,NaN,NaN,NaN,NaN,NaN,1392.93,NaN,43799.80,NaN,-0.110269,24142,438_520_19
4775599,19,438,530,NaN,-1,NaN,NaN,NaN,NaN,NaN,13531.32,NaN,26881.20,NaN,-1.689792,24143,438_530_19
4775799,19,438,540,NaN,-1,NaN,NaN,NaN,NaN,NaN,3183.84,NaN,39226.64,NaN,8.920431,24144,438_540_19

**-------------------------------------------------------**

**Edit:**

As discussed in the comments, normally imbalance_buy_sell_flag leads to imbalance_size == 0 as follows:

In [2]:
df[df['imbalance_buy_sell_flag'] ==0]

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,target,time_id,row_id
5,5,0,0,0.0,0,1.000635,1.355288e+07,NaN,NaN,0.999779,1962.72,1.000635,5647.65,1.000000,6.779432,0,0_0_5
19,19,0,0,0.0,0,0.999387,2.815451e+06,NaN,NaN,0.999218,17775.00,1.001298,29567.92,1.000000,4.299879,0,0_0_19
35,35,0,0,0.0,0,0.999841,6.301295e+06,NaN,NaN,0.999676,59482.80,1.000007,1209.40,1.000000,0.189543,0,0_0_35
37,37,0,0,0.0,0,1.000149,1.108548e+07,NaN,NaN,0.999910,19682.66,1.000340,74365.40,1.000000,-0.429750,0,0_0_37
39,39,0,0,0.0,0,0.999539,5.760194e+06,NaN,NaN,0.999539,57147.72,1.000078,9724.25,1.000000,-4.699826,0,0_0_39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5237938,158,480,540,0.0,0,0.999648,8.578806e+06,0.999648,0.999648,0.999648,47588.31,0.999874,38768.09,0.999773,-2.260208,26454,480_540_158
5237948,168,480,540,0.0,0,0.998735,4.088902e+08,0.998735,0.998735,0.998735,115812.96,0.998811,741364.12,0.998745,-1.919866,26454,480_540_168
5237949,169,480,540,0.0,0,1.000357,1.345633e+07,1.000357,1.000357,1.000357,12959.60,1.000697,58986.20,1.000418,-1.519918,26454,480_540_169
5237954,174,480,540,0.0,0,1.000762,4.826936e+06,1.000762,1.000762,1.000762,297950.40,1.001412,170508.80,1.001176,16.599894,26454,480_540_174
5237977,197,480,540,0.0,0,0.995789,1.272544e+07,0.995789,0.995789,0.995789,16790.66,0.995883,180038.32,0.995797,1.169443,26454,480_540_197

<h2 style="color: gray;"><strong><em>Thanks for reading, hope it was useful. </em></strong></h2>